<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.backend.embackend.dao.EmployeeDao">
    <!-- Select user from DB -->
    <select id="getAllEmployee" resultType="com.backend.embackend.model.Employee">
        SELECT  emp_id,
                username,
                pass,
                role,
                del_flag
        FROM emp_tbl 
        WHERE del_flag = 0
    </select>

    <!-- Select user from DB -->
    <select id="getEmployeeById" resultType="com.backend.embackend.model.Employee">
        SELECT emp_id,
               username,
               pass,
               role,
               del_flag
        FROM emp_tbl
        WHERE emp_id = #{emp_id}
    </select>

    <!-- Insert user from DB -->
    <insert id="addEmployee" parameterType="com.backend.embackend.model.EmployeeInput">
        INSERT INTO emp_tbl (
            emp_id,
            username,
            pass,
            role,
            del_flag
        ) 
        VALUES (
            #{emp_id},
            #{username},
            #{pass},
            #{role},
            0
        );
    </insert>

    <!-- Edit user from DB -->
    <update id="editEmployee" parameterType="com.backend.embackend.model.Employee">
        UPDATE emp_tbl 
        SET username=#{username},
            pass=#{pass},
            role=#{role},
            del_flag=#{del_flag}
        WHERE emp_id=#{emp_id};
    </update>

    <!-- Logical Delete from DB -->
    <update id="logicalDelete" parameterType="java.lang.Long">
        UPDATE emp_tbl
        SET del_flag = 1 
        WHERE emp_id = #{emp_id};
    </update>

    <!-- Delete user from DB -->
    <delete id="deleteEmployee" parameterType="java.lang.Long">
        DELETE FROM emp_tbl
        WHERE emp_id = #{emp_id}
    </delete>

</mapper>